<html ng-app="aplicacioncita">
    <head>
        <title>Bobby Angular</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Cargamos bootstrap -->
        <link rel="stylesheet" href="css/bootstrap.css">


        <!-- JS -->
        <!--cargamos angular y jquery -->
        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="js/angular.js"></script>
        <script src="js/app.js"></script>
    </head>
    <body ng-controller="controladorPrincipal">
      <!--  {{mensajito}}
        <p></p>
        <p>Escribe algo</p>
        <input type ="text" ng-model="nombre">
        {{nombre}}
        
        <h2> Manejo de eventos de botón con Angular</h2>
        <button class = "btn btn-primary" ng-click="apuchurrame()">Apuchúrra el botón</button>
        {{algo}}
        -->
        
        <input type="text" ng-model="nombre" placeholder="nombre">
        <input type="text" ng-model="diacorte" placeholder="dia de corte">
        <button class="btn btn-success" ng-click="guardar()">guardar</button>
        <h2>Buscar todos </h2>
      <!--  <h2>Conversor de temperatura</h2>
        <input type ="text" ng-model="centigrados">
        <button class = "btn btn-warning" ng-click="conversion()">Apriétame...</button>
        <p>Grados Farenheit: {{farenheit}}</p>
        <p>Grados Kelvin: {{kelvin}}</p>
        
        <h2>Introduce los datos del producto</h2>
        <input type="text" placeholder="Nombre del producto:">
        <input type="text" placeholder="Costo del producto:">
        <input type="text" placeholder="Número de unidades:">
        <button class="btn btn-success">Guardar producto</button>
      -->
        
        
        
        <table class="table table-bordered">
            <tr class="danger">
                <th>id tarjeta </th>
                <th>Nombre de tarjeta</th>
                <th>Dia de Corte </th>
            </tr>
        </table>
      
        
    </body>
</html>
